.example-right {
  position:relative;
  padding:15px 30px;
  margin:0;
  color:#fff;
  background:#6AD3E8; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#6AD3E8), to(#4993a1));
  background:-moz-linear-gradient(#6AD3E8, #4993a1);
  background:-o-linear-gradient(#6AD3E8, #4993a1);
  background:linear-gradient(#6AD3E8, #4993a1);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  font-size: 25px;
  font-family: 'Raleway'
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-right-source {
  margin:15px 0 2em 85px;
  // font-style:italic;
  font-size: 40px;
  font-family: 'Kalam';
  color: #fff;
  text-shadow: 3px 3px 0 #6AD3E8 , 4px 4px 0 #6AD3E8 , 5px 5px 0 #6AD3E8 , 6px 6px 0 #6AD3E8;
}

/* creates the triangle */
.example-right:after {
  content:"";
  position:absolute;
  bottom:-50px;
  left:130px;
  border-width:0 20px 50px 0px;
  border-style:solid;
  border-color:transparent #4993a1;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
