#game-handle-hook {
  margin: auto;
  opacity: 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  color: #3fb3ca;
  max-width: 495px;
  width: 90%;
  height: 66px;
  font-family: "Raleway";
  font-size: 16px;
}

#game-handle-field {
  background: url(asset-path('at_sign.png')) no-repeat scroll 7px 7px;
  width: 175px;
  padding: 6px 25px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#game {
  display:none;
}

#correctness-section{
  padding-top: 50px;
}

#quote-section-game{
  height:300px;
}

#source-field-true, #source-field-false{
  max-width:260px;
  margin:5px;
}
#game-score{
  max-width:350px;
  text-align: left;
  display: inline-block;
  font-size : 20px;
}


#finish-button {
  position: relative;
  display: none;
  max-width: 150px;
  margin-left:150px;
}

.hide-loader{
  display:none;
}


#loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

option{
  background-color: #6AD3E8;
}

.button {
  @include button(shiny, #6AD3E8);
  max-width: 200px;
  width: 90%;
  color: white;
  height: 57px;
  font-family: "Raleway";
  font-size: 18px;
}
#finish-button {
  display: none;
}
.summary{
  white-space: pre;
}
h1 {
  padding: 25px;
  font: normal 80px/1 "Fredoka One", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  text-shadow: 3px 3px 0 #6AD3E8 , 4px 4px 0 #6AD3E8 , 5px 5px 0 #6AD3E8 , 6px 6px 0 #6AD3E8 , 7px 7px 0 #6AD3E8 , 8px 8px 0 #6AD3E8 , 9px 9px 0 #6AD3E8;
}

h2 {
  text-align: center;
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Raleway';
}

h3 {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Raleway';
}
h3:hover {
    background-color: #6AD3E8;
}

html, body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to top left, #FFFFFF 0%, #FF444F 100%)
}

#share-box {
}

.share {
  margin: 10px;
  // display: none;
  display: inline-block;
  vertical-align: middle;
}

.select_style {
    @include button(shiny, #6AD3E8);
    overflow: hidden;
    display: inline-block;
    color: #FFFFFF;
    font-weight: 300;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: 1px solid #006497;
    font-family: "Raleway";
    position: relative;
    cursor: pointer;
    padding-left: 0px;
    width: 300px;
    max-width: 300px;
}
.select_style span {
    position: absolute;
    right: 10px;
    width: 8px;
    height: 8px;
    top: 50%;
    margin-top: -4px;
}
.select_style select {
    -webkit-appearance: none;
    appearance:none;
    width:128%;
    border:none;
    outline:none;
    cursor:pointer;
    padding:10px 10px;
    color: white;
    font-family: "Raleway";
    font-size: 18px;
    text-align: left;
    background:
      url(asset-path('arrow_drop_down.png'));
    background-position:
      calc(100% - 60px),
      calc(100% - 16px) calc(1em + 2px),
      100% 0;
    background-repeat: no-repeat;
}

.form-style {
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (min-height: 770px) {
  #form-section {
    position:fixed;
    left:0px;
    bottom:0px;
    height:230px;
    width:100%;
    background: transparent;
  }
}

.p-t-40 {
  padding-top: 40px;
}

.mar-t-20 {
  margin-top: 40px;
}

#twitter-handle-hook {
  margin: auto;
  opacity: 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  background-color:rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  color: #3fb3ca;
  max-width: 495px;
  width: 90%;
  height: 80px;
  font-family: "Raleway";
  font-size: 16px;
}

#twitter-handle-field {
  background: url(asset-path('at_sign.png')) no-repeat scroll 7px 7px;
  width: 175px;
  padding: 6px 25px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-fields {
  margin: auto;
  opacity: 400;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  background-color:rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  color: #3fb3ca;
  max-width: 495px;
  width: 90%;
  height: 120px;
  font-family: "Raleway";
  font-size: 16px;
}

.input-fields input {
  margin: 15px;
  width: 175px;
  padding: 6px 25px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.nav-link {
  text-decoration: none;
  color: #6ad3e8;
  font-family: "Raleway";
  padding: 5px;
  margin: 15px;
  text-align: right
}

.nav-link:hover {
  color: #1488b8;
}

.nav-item {
  border: 1px solid lightgray;
  border-radius: 15px;
  background-color: white;
  background-color:rgba(255, 255, 255, 1);
  display: inline-block;
  margin: 10px;
}
.nav-item:hover {
  background-color:rgba(255, 255, 255, .8);
  -webkit-box-shadow: 7px 10px 27px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 27px -8px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 27px -8px rgba(0,0,0,0.75);
}
