.button {
  @include button(shiny, #6AD3E8);
  max-width: 200px;
  width: 90%;
  color: white;
  height: 57px;
  font-family: "Raleway";
  font-size: 18px;
}
#finish-button {
  display: none;  
}

h1 {
  padding: 25px;
  font: normal 80px/1 "Fredoka One", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  text-shadow: 3px 3px 0 #6AD3E8 , 4px 4px 0 #6AD3E8 , 5px 5px 0 #6AD3E8 , 6px 6px 0 #6AD3E8 , 7px 7px 0 #6AD3E8 , 8px 8px 0 #6AD3E8 , 9px 9px 0 #6AD3E8;
}

h2 {
  text-align: center;
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Raleway';
}

h3 {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Raleway';
}
h3:hover { 
    background-color: #6AD3E8;
}

html, body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to top left, #FFFFFF 0%, #FF444F 100%)
}

#share-box {
}

.share {
  margin: 10px;
  // display: none;
  display: inline-block;
  vertical-align: middle;
}

.select_style {
    @include button(shiny, #6AD3E8);
    overflow: hidden;
    display: inline-block;
    color: #FFFFFF;
    font-weight: 300;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: 1px solid #006497;
    font-family: "Raleway";
    position: relative;
    cursor: pointer;
    padding-left: 0px;
    width: 300px;
    max-width: 300px;
}
.select_style span {
    position: absolute;
    right: 10px;
    width: 8px;
    height: 8px;
    top: 50%;
    margin-top: -4px;
}
.select_style select {
    -webkit-appearance: none;
    appearance:none;
    width:128%;
    border:none;
    outline:none;
    cursor:pointer;
    padding:10px 10px;
    color: white;
    font-family: "Raleway";
    font-size: 18px;
    text-align: left;
    background:
      url(asset-path('arrow_drop_down.png'));
    background-position:
      calc(100% - 60px),
      calc(100% - 16px) calc(1em + 2px),
      100% 0;
    background-repeat: no-repeat;
}

.form-style {
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (min-height: 770px) {
  #form-section {
    position:fixed;
    left:0px;
    bottom:0px;
    height:230px;
    width:100%;
    background: transparent;
  }
}

.p-t-40 {
  padding-top: 40px;
}

#twitter-handle-hook {
  margin: auto;
  opacity: 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  background-color:rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  color: #3fb3ca;
  max-width: 495px;
  width: 90%;
  height: 80px;
  font-family: "Raleway";
  font-size: 16px;
}

#twitter-handle-field {
  background: url(asset-path('at_sign.png')) no-repeat scroll 7px 7px;
  width: 175px;
  padding: 6px 25px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
